<div class="<%= @page[:class] %>" role="alert">
	<h4 class="alert-heading"> <%= @page[:title] %> </h4>
	<hr>
	<div class="row">
		<div class="col"><p> <%= @page[:message] %> </p></div>
		<div class="col text-right"><i class="material-icons-outlined md-36">shopping_cart</i>
		</div>
	</div>
</div>
<div class="container" id="products">
<% if @products %>
	<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-6 col-lg-4">
			<div class="card" style="width: 18rem;">
				<img src="<%= p.image %>" class="card-img-top" alt="<%= p.title %>">
				<div class="card-body">
					<h5 class="card-title"><%= p.title %></h5>
					<p class="card-text"><%= p.description %></p>
					<p class="card-text">Size: <%= p.size %> cm</p>
					<button type="button" class="btn btn-outline-success col" onclick="add_to_cart(<%= p.id %>);" ><%= p.price/100 %>.<%= p.price%100 %> &dollar;</button>
				</div>
			</div>
		</div>
	<% end %>
	</div>
<% end %>
</div>