<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Optional Custom favicon -->
	<link rel="shortcat icon" type="image/png" href="/ruby-32-248099.png" />
	<!-- Material icons -->
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Optional ColorPicker -->
	<link rel="stylesheet" href="/jquery.simplecolorpicker.css" />
	<script src="/jquery.simplecolorpicker.js"></script>
	<!-- Optional DateTimePicker -->
	<link rel="stylesheet" href="/build/jquery.datetimepicker.min.css" />
	<script src="/build/jquery.datetimepicker.full.min.js"></script>
	<!-- Optional Custom JS Code -->
	<script src="/app.js" type="text/javascript"></script>
	<!-- Title -->
	<title>Pizza::Nest</title>
</head>
<body>
	<div class="container">
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"><strong>Pizza::Nest</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link <%= @page[:nav_home] %>" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link <%= @page[:nav_about] %>" href="/about">About <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link <%= @page[:nav_about] %>" href="/about"> <span class="sr-only">(current)</span></a>
					</li>
					
				</ul>
				<form class="form-inline my-2 my-lg-0" action="https://www.google.com/search?" method="get">
    				<input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
    				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="search">Search</button>
    			</form>
			</div>
		</nav>
		<div>
			<%if @error %>
				<div class="alert alert-danger" role="alert"><%= @error %></div>
			<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>



